*{
    margin: 0px;
    padding: 0px;
    font-family: 'Microsoft Yahei';
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    color: white;
}
.header{
    width: 100%;
    height: 40px;
    background-color: deepskyblue;

}
.header .login{
    float: right;
    margin-top: 10px;
}
.login ul li{
    float: left;
    margin-right: 20px;
    color: white;
}
.login ul .admin{
    color:rgb(255,215,0);
}
.navi ul li{
    float: left;
    margin-left: 10px;
    color: white;
    line-height: 35px;
}
.navi ul li:hover{
    border-bottom: 2px white solid;
    cursor: pointer;
}
.red{
    width: 100%;
    height: 30px;
    background-color: #007FFF;
    text-align: center;
    color: white;
    font-size: 20px;
    cursor: pointer;
    border-radius: 25px;
}
.red_menu ul{
    text-align: center;
}
.red_menu ul li{
    text-align: center;
    margin-top: 5px;
    cursor: pointer;

}
.red_menu ul li:hover{
    color: #007FFF;

}
.menu{
    width: 15%;
    height: 100%;
    float: left;
}
.ifr{
    border: 0px;
    float: left;
}